[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
jupyterlab = "*"
opencv-python = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
pillow = "*"
nltk = "*"
scikit-learn = "*"
tensorflow = "*"
cython = "*"
pycocotools = {subdirectory = "PythonAPI", git = "https://github.com/philferriere/cocoapi.git"}
scikit-image = "*"
autopep8 = "*"
tqdm = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.10"
